*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #f6f4eb;
}

header {
    border-bottom: 2px solid #f6f4eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #4682a9;
    padding: 10px 40px;
  }
  
  .logo img {
    width: 150px;
  }
  
  nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  
  nav ul a {
    color: #f6f4eb;
    padding: 5px 10px;
    font-size: 25px;
    text-decoration: none;
  }
  
  nav ul a:hover {
    font-weight: 700;
  }
  
  .dropdown {
    background-color: #4682a9;
    display: none;
  }
  
  .dropdown a {
    display: block;
    color: white;
    text-align: center;
    padding-inline: 20px;
  }
  
  .dropdown a:hover {
    background-color: #6f90a6;
  }
  
  .dropbtn:hover .dropdown {
    display: block;
    position: absolute;
  }

section.kategori-page{
    padding: 100px;
}

.title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    color: #4682A9;
}

.produk-container{
    padding: 30px;
    background-color: rgb(219, 219, 219);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produk-container h1{
    border-bottom: 1px solid #4682A9;
}


.produk-items{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 25px;
}

.produk-item{
    display: flex;
    background-color: white;
    border-radius: 14px;
    padding: 20px;
    gap: 1rem;
}

.produk-img img{
    width: 250px;
}

.produk-desc h1{
    font-size: 30px;
}

.produk-desc p{
    padding-top: 10px;
}

.size-chart{
    display: flex;
    gap: 1rem;
    padding-top: 20px;
}

.size-chart p{
    border: 1px solid #4682A9;
    color: #4682A9;
    padding: 10px;
    cursor: pointer;
    background: transparent;
}

.size-chart p:hover{
    background-color: #4682A9;
    color: white;
    border: 1px solid transparent;
}

